# Ignore virtual environment folder
myenv/

# Ignore environment variables and configuration files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db